<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="title left">
      Tram2000
    </div>
    <div class="subtitle">
      Autobusiki do kontroli
    </div>
  </div>
</div>

<div class="palm-text-wrapper">
  <div class="palm-body-title">
    Witaj!
  </div>
  <div class="palm-body-text">
    Urządzenie jest gotowe do działania. Naciśnij przycisk "Monitoruj", aby rozpocząć pracę programu.
  </div>
  <div class="palm-body-text">
    Pamiętaj, że w trosce o Twoją prywatność, aplikacja nie zapamiętuje żadnych danych o aktualnym położeniu. Dane są generowane na podstawie odległości od najbliżeszego przystanku.
  </div>
</div>



<div class="scene-footer">
	<div class="scene-footer-wrapper">
    <div x-mojo-element="Button" id="stats"></div>
    <div x-mojo-element="Button" id="luncher"></div>
	</div>
</div>



