<div id="scrim" class="palm-scrim menu-panel" x-mojo-menupanel-scrim=""></div>
<div id="palm-header-toggle-menupanel" class="palm-header" x-mojo-touch-feedback="immediate"></div>
<div id="palm-header-spacer" class="palm-header-spacer"></div>

<div id="menu-panel-container">
  <div id="menupanel" class="palm-menu-panel" x-mojo-menupanel="">
    <div class="palm-menu-panel-fade-top" x-mojo-scroll-fade="top">
      <div class="palm-menu-panel-fade-top-bg"></div>
      <div class="palm-menu-panel-fade-top-arrow"></div>
    </div>
    <div class="palm-menu-panel-fade-bottom" x-mojo-scroll-fade="bottom">
      <div class="palm-menu-panel-fade-bottom-bg"></div>
      <div class="palm-menu-panel-fade-bottom-arrow"></div>
    </div>
    <div class="palm-menu-panel-wrapper" x-mojo-element="Scroller" id="example-menu-panel">
      <div id="menu-stops" x-mojo-element="List" >
	    </div>
    </div>
  </div>
</div>

<div id="map"></div>
