<p>
	Proces gromadzenia danych został rozpoczęty. Nie wyłączaj tej aplikacji do czasu dotarcia do celu. Miłej podróży.
</p>

<ul class="dynamic">
  <li id="info">
    <p class="center">
      Prędkość chwilowa
      <strong id="speed">
        -
      </strong>
    </p>

    <p class="center">
      Przejechano przystanków
      <strong id="count">
        -
      </strong>
    </p>

    <p class="center">
      Czas podróży
      <strong id="time">
        0:00
      </strong>
    </p>
  </li>

  <li id="details" class="hidden">
    <p class="center">
      Następny przystanek
      <strong id="next">
        Teatr bagatela
      </strong>
    </p>

    <p class="center">
      Linia
      <strong id="line">
        4
      </strong>
    </p>

    <p class="center">
      Opóźnienie
      <strong id="late">
        &lt; 1 min.
      </strong>
    </p>
  </li>
</ul>